# Development environment template. Copy to .env.dev and replace placeholders.

SERVER_PORT=8099

DEV_RABBITMQ_ADDRESSES=
DEV_RABBITMQ_USERNAME=
DEV_RABBITMQ_PASSWORD=
DEV_RABBITMQ_PORT=
DEV_ELASTICSEARCH_URL=

DEV_MYSQL_00_URL=
DEV_MYSQL_00_USERNAME=
DEV_MYSQL_00_PASSWORD=

DEV_MYSQL_01_URL=
DEV_MYSQL_01_USERNAME=
DEV_MYSQL_01_PASSWORD=

DEV_MYSQL_02_URL=
DEV_MYSQL_02_USERNAME=
DEV_MYSQL_02_PASSWORD=

DEV_REDIS_HOST=
DEV_REDIS_PORT=
DEV_ZOOKEEPER_CONNECT_STRING=
DEV_XXL_JOB_ACCESS_TOKEN=
DEV_XXL_JOB_ADMIN_ADDRESSES=
