# Production environment template. Copy to .env.prod on the production server.

SERVER_PORT=8099

PROD_RABBITMQ_ADDRESSES=
PROD_RABBITMQ_USERNAME=
PROD_RABBITMQ_PASSWORD=
PROD_RABBITMQ_PORT=
PROD_ELASTICSEARCH_URL=

PROD_MYSQL_00_URL=
PROD_MYSQL_00_USERNAME=
PROD_MYSQL_00_PASSWORD=

PROD_MYSQL_01_URL=
PROD_MYSQL_01_USERNAME=
PROD_MYSQL_01_PASSWORD=

PROD_MYSQL_02_URL=
PROD_MYSQL_02_USERNAME=
PROD_MYSQL_02_PASSWORD=

PROD_REDIS_HOST=
PROD_REDIS_PORT=
PROD_ZOOKEEPER_CONNECT_STRING=
PROD_XXL_JOB_ACCESS_TOKEN=
PROD_XXL_JOB_ADMIN_ADDRESSES=
PROD_XXL_JOB_ADMIN_ADDRESSES=
