# Test environment template. Copy to .env.test and replace placeholders.

SERVER_PORT=8099

TEST_RABBITMQ_ADDRESSES=
TEST_RABBITMQ_USERNAME=
TEST_RABBITMQ_PASSWORD=
TEST_RABBITMQ_PORT=
TEST_ELASTICSEARCH_URL=

TEST_MYSQL_00_URL=
TEST_MYSQL_00_USERNAME=
TEST_MYSQL_00_PASSWORD=

TEST_MYSQL_01_URL=
TEST_MYSQL_01_USERNAME=
TEST_MYSQL_01_PASSWORD=

TEST_MYSQL_02_URL=
TEST_MYSQL_02_USERNAME=
TEST_MYSQL_02_PASSWORD=

TEST_REDIS_HOST=
TEST_REDIS_PORT=
TEST_ZOOKEEPER_CONNECT_STRING=
TEST_XXL_JOB_ACCESS_TOKEN=
TEST_XXL_JOB_ADMIN_ADDRESSES=
